:root {
   font-size: 32px;
}

div {
   display: flex;
   border: 1px solid black;
   width: 300px;
}

div > p {
   background-color: yellow;
   width: 40px;
   text-align: center;
   flex-grow: 1;
}

div > p:nth-child(2) {
   flex-grow: 2;
}

@media (max-width: 768px) {
   div > p:nth-child(2){
      flex-grow: 1;
   }
}
